In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Try the model with top 10 pharm companies - calculate asset/stock returns

In [18]:
PFEpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/PFEdata.csv'
PFEPrice = pd.read_csv(PFEpath)
PFEPrice = PFEPrice.set_index(pd.DatetimeIndex(PFEPrice['Date'].values))
PFEPrice.drop(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
PFEPrice = PFEPrice.rename(columns={"Adj Close": "PFE"})
PFEPrice

                  PFE
2000-01-03  13.061072
2000-01-04  12.574479
2000-01-05  12.779366
2000-01-06  13.240340
2000-01-07  14.136689
...               ...
2024-02-12  27.660000
2024-02-13  26.969999
2024-02-14  27.110001
2024-02-15  27.510000
2024-02-16  27.620001

[6070 rows x 1 columns]

In [19]:
GSKpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/GSKdata.csv'
GSKPrice = pd.read_csv(GSKpath)
GSKPrice = GSKPrice.set_index(pd.DatetimeIndex(GSKPrice['Datetime'].values))
GSKPrice.drop(['Datetime', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
GSKPrice = GSKPrice.rename(columns={"Adj Close": "GSK"})
GSKPrice

                  GSK
2000-01-03  18.336874
2000-01-04  17.862465
2000-01-05  18.460629
2000-01-06  18.192493
2000-01-07  19.141298
...               ...
2024-02-12  40.672421
2024-02-13  40.989323
2024-02-14  41.395355
2024-02-15  41.365646
2024-02-16  41.533997

[6070 rows x 1 columns]

In [20]:
SNYpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/SNYdata.csv'
SNYPrice = pd.read_csv(SNYpath)
SNYPrice = SNYPrice.set_index(pd.DatetimeIndex(SNYPrice['Date'].values))
SNYPrice.drop(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
SNYPrice = SNYPrice.rename(columns={"Adj Close": "SNY"})
SNYPrice

                  SNY
2002-07-01  14.027581
2002-07-02  13.594075
2002-07-03  13.476276
2002-07-05  14.324433
2002-07-08  14.724953
...               ...
2024-02-12  46.340000
2024-02-13  45.750000
2024-02-14  45.799999
2024-02-15  46.389999
2024-02-16  46.180000

[5446 rows x 1 columns]

In [21]:
AZNpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/AZNdata.csv'
AZNPrice = pd.read_csv(AZNpath)
AZNPrice = AZNPrice.set_index(pd.DatetimeIndex(AZNPrice['Date'].values))
AZNPrice.drop(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
AZNPrice = AZNPrice.rename(columns={"Adj Close": "AZN"})
AZNPrice

                  AZN
2000-01-03   8.473514
2000-01-04   8.190209
2000-01-05   8.228842
2000-01-06   8.203084
2000-01-07   8.550780
...               ...
2024-02-12  60.480690
2024-02-13  60.106438
2024-02-14  60.726906
2024-02-15  61.889050
2024-02-16  63.297405

[6070 rows x 1 columns]

In [22]:
MRKpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/MRKdata.csv'
MRKPrice = pd.read_csv(MRKpath)
MRKPrice = MRKPrice.set_index(pd.DatetimeIndex(MRKPrice['Date'].values))
MRKPrice.drop(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
MRKPrice = MRKPrice.rename(columns={"Adj Close": "MRK"})
MRKPrice

                   MRK
2000-01-03   26.873911
2000-01-04   25.930075
2000-01-05   26.948402
2000-01-06   27.171942
2000-01-07   29.779860
...                ...
2024-02-12  125.339996
2024-02-13  125.430000
2024-02-14  125.820000
2024-02-15  126.540001
2024-02-16  127.790001

[6070 rows x 1 columns]

In [23]:
RHHBYpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/RHHBYdata.csv'
RHHBYPrice = pd.read_csv(RHHBYpath)
RHHBYPrice = RHHBYPrice.set_index(pd.DatetimeIndex(RHHBYPrice['Date'].values))
RHHBYPrice.drop(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
RHHBYPrice = RHHBYPrice.rename(columns={"Adj Close": "RHHBY"})
RHHBYPrice

                RHHBY
2003-08-20   5.621511
2003-08-21   5.562044
2003-08-22   5.541054
2003-08-25   5.513070
2003-08-26   5.488582
...               ...
2024-02-12  32.599998
2024-02-13  32.130001
2024-02-14  32.020000
2024-02-15  32.099998
2024-02-16  32.279999

[5159 rows x 1 columns]

In [24]:
ABBVpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/ABBVdata.csv'
ABBVPrice = pd.read_csv(ABBVpath)
ABBVPrice = ABBVPrice.set_index(pd.DatetimeIndex(ABBVPrice['Date'].values))
ABBVPrice.drop(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
ABBVPrice = ABBVPrice.rename(columns={"Adj Close": "ABBV"})
ABBVPrice

                  ABBV
2013-01-02   22.207655
2013-01-03   22.024277
2013-01-04   21.746048
2013-01-07   21.790310
2013-01-08   21.316057
...                ...
2024-02-12  173.070007
2024-02-13  173.289993
2024-02-14  174.419998
2024-02-15  176.589996
2024-02-16  177.490005

[2801 rows x 1 columns]

In [25]:
JNJpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/JNJdata.csv'
JNJPrice = pd.read_csv(JNJpath)
JNJPrice = JNJPrice.set_index(pd.DatetimeIndex(JNJPrice['Date'].values))
JNJPrice.drop(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
JNJPrice = JNJPrice.rename(columns={"Adj Close": "JNJ"})
JNJPrice

                   JNJ
2000-01-03   24.698624
2000-01-04   23.794403
2000-01-05   24.045578
2000-01-06   24.799091
2000-01-07   25.854017
...                ...
2024-02-12  156.660538
2024-02-13  155.290924
2024-02-14  154.566437
2024-02-15  156.729996
2024-02-16  156.550003

[6070 rows x 1 columns]

In [26]:
NVSpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/NVSdata.csv'
NVSPrice = pd.read_csv(NVSpath)
NVSPrice = NVSPrice.set_index(pd.DatetimeIndex(NVSPrice['Date'].values))
NVSPrice.drop(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
NVSPrice = NVSPrice.rename(columns={"Adj Close": "NVS"})
NVSPrice

                   NVS
2000-01-03   15.844910
2000-01-04   15.545438
2000-01-05   15.613502
2000-01-06   15.953812
2000-01-07   16.198835
...                ...
2024-02-12  100.529999
2024-02-13   99.059998
2024-02-14   99.050003
2024-02-15   99.629997
2024-02-16  100.190002

[6070 rows x 1 columns]

In [27]:
BMYpath = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/BMYdata.csv'
BMYPrice = pd.read_csv(BMYpath)
BMYPrice = BMYPrice.set_index(pd.DatetimeIndex(BMYPrice['Date'].values))
BMYPrice.drop(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], inplace=True, axis=1)
BMYPrice = BMYPrice.rename(columns={"Adj Close": "BMY"})
BMYPrice

                  BMY
2000-01-03  25.552813
2000-01-04  23.619635
2000-01-05  23.468300
2000-01-06  23.791847
2000-01-07  27.275999
...               ...
2024-02-12  49.750000
2024-02-13  48.709999
2024-02-14  48.889999
2024-02-15  49.439999
2024-02-16  49.860001

[6070 rows x 1 columns]

In [28]:
from pathlib import Path
import os

# Combine all the df and get a df file named assets. Work on assets
assets = pd.concat([PFEPrice, GSKPrice, AZNPrice, BMYPrice, MRKPrice, RHHBYPrice, SNYPrice, 
                    NVSPrice, ABBVPrice, JNJPrice], axis=1)
assets

,PFE,GSK,AZN,BMY,MRK,RHHBY,SNY,NVS,ABBV,JNJ
2000-01-03,13.061072,18.336874,8.473514,25.552813,26.873911,NaN,NaN,15.844910,NaN,24.698624
2000-01-04,12.574479,17.862465,8.190209,23.619635,25.930075,NaN,NaN,15.545438,NaN,23.794403
2000-01-05,12.779366,18.460629,8.228842,23.468300,26.948402,NaN,NaN,15.613502,NaN,24.045578
2000-01-06,13.240340,18.192493,8.203084,23.791847,27.171942,NaN,NaN,15.953812,NaN,24.799091
2000-01-07,14.136689,19.141298,8.550780,27.275999,29.779860,NaN,NaN,16.198835,NaN,25.854017
...,...,...,...,...,...,...,...,...,...,...
2024-02-12,27.660000,40.672421,60.480690,49.750000,125.339996,32.599998,46.340000,100.529999,173.070007,156.660538
2024-02-13,26.969999,40.989323,60.106438,48.709999,125.430000,32.130001,45.750000,99.059998,173.289993,155.290924
2024-02-14,27.110001,41.395355,60.726906,48.889999,125.820000,32.020000,45.799999,99.050003,174.419998,154.566437
2024-02-15,27.510000,41.365646,61.889050,49.439999,126.540001,32.099998,46.389999,99.629997,176.589996,156.729996
2024-02-16,27.620001,41.533997,63.297405,49.860001,127.790001,32.279999,46.180000,100.190002,177.490005,156.550003

In [29]:
# save as a csv file
path = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/assets.csv'
Setpath = Path(path)
Setpath.parent.mkdir(parents=True, exist_ok=True)  
assets.to_csv(Setpath)

In [30]:
# Get the simple daily returns of PFE
daily_simple_returns = assets.pct_change()
daily_simple_returns

,PFE,GSK,AZN,BMY,MRK,RHHBY,SNY,NVS,ABBV,JNJ
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,-0.037255,-0.025872,-0.033434,-0.075654,-0.035121,NaN,NaN,-0.018900,NaN,-0.036610
2000-01-05,0.016294,0.033487,0.004717,-0.006407,0.039272,NaN,NaN,0.004378,NaN,0.010556
2000-01-06,0.036072,-0.014525,-0.003130,0.013787,0.008295,NaN,NaN,0.021796,NaN,0.031337
2000-01-07,0.067698,0.052154,0.042386,0.146443,0.095978,NaN,NaN,0.015358,NaN,0.042539
...,...,...,...,...,...,...,...,...,...,...
2024-02-12,0.003628,-0.020043,-0.013652,-0.001205,-0.000877,0.008975,-0.003441,-0.004949,-0.005802,0.006953
2024-02-13,-0.024946,0.007792,-0.006188,-0.020905,0.000718,-0.014417,-0.012732,-0.014623,0.001271,-0.008743
2024-02-14,0.005191,0.009906,0.010323,0.003695,0.003109,-0.003424,0.001093,-0.000101,0.006521,-0.004665
2024-02-15,0.014755,-0.000718,0.019137,0.011250,0.005722,0.002498,0.012882,0.005856,0.012441,0.013998
2024-02-16,0.003999,0.004070,0.022756,0.008495,0.009878,0.005607,-0.004527,0.005621,0.005097,-0.001148

In [31]:
# save daily simple returns as a csv
path = 'E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/stock_returns.csv'
setPath = Path(path)
setPath.parent.mkdir(parents=True, exist_ok=True)  
daily_simple_returns.to_csv(setPath)

In [32]:
# Calculate the annualized returns
annualized_returns = daily_simple_returns.mean() * 252
annualized_returns

PFE      0.062906
GSK      0.060538
AZN      0.119560
BMY      0.064897
MRK      0.099775
RHHBY    0.111526
SNY      0.091225
NVS      0.097467
ABBV     0.222402
JNJ      0.095226
dtype: float64

In [33]:
# Sort the data
sorted_annualized_returns = annualized_returns.sort_values(ascending=False)
sorted_annualized_returns

ABBV     0.222402
AZN      0.119560
RHHBY    0.111526
MRK      0.099775
NVS      0.097467
JNJ      0.095226
SNY      0.091225
BMY      0.064897
PFE      0.062906
GSK      0.060538
dtype: float64

### Get asset_weights
Here I generated weights randomly but I think it should be done in another way

In [34]:
import random

# Initialize the weights randomly
weight_portfolio = [round(random.random(), 1) for _ in range(10)]
portfolio_return = daily_simple_returns.dot(weight_portfolio)
portfolio_return

2000-01-03         NaN
2000-01-04         NaN
2000-01-05         NaN
2000-01-06         NaN
2000-01-07         NaN
                ...
2024-02-12   -0.019361
2024-02-13   -0.027400
2024-02-14    0.014495
2024-02-15    0.026454
2024-02-16    0.033079
Length: 6070, dtype: float64

In [35]:
variance_matrix = daily_simple_returns.cov() * 252
variance_matrix

,PFE,GSK,AZN,BMY,MRK,RHHBY,SNY,NVS,ABBV,JNJ
PFE,0.063595,0.027108,0.028080,0.032341,0.035923,0.019918,0.029069,0.022529,0.025543,0.025875
GSK,0.027108,0.053093,0.036599,0.024902,0.027864,0.022696,0.033791,0.025174,0.019080,0.020558
AZN,0.028080,0.036599,0.071921,0.026824,0.028088,0.026356,0.035763,0.027392,0.022257,0.020138
BMY,0.032341,0.024902,0.026824,0.073526,0.033742,0.017324,0.026721,0.019502,0.027406,0.023078
MRK,0.035923,0.027864,0.028088,0.033742,0.069331,0.019617,0.028751,0.022249,0.024210,0.026316
RHHBY,0.019918,0.022696,0.026356,0.017324,0.019617,0.052160,0.030621,0.027029,0.016423,0.014690
SNY,0.029069,0.033791,0.035763,0.026721,0.028751,0.030621,0.071989,0.030236,0.020415,0.021375
NVS,0.022529,0.025174,0.027392,0.019502,0.022249,0.027029,0.030236,0.041809,0.019963,0.016373
ABBV,0.025543,0.019080,0.022257,0.027406,0.024210,0.016423,0.020415,0.019963,0.070048,0.020753
JNJ,0.025875,0.020558,0.020138,0.023078,0.026316,0.014690,0.021375,0.016373,0.020753,0.036995

In [36]:
# Initialize an empty list for storing the portfolio returns
port_returns = []
# Initialize an empty list for storing the portfolio volatility
port_volatility = []
# Initialize an empty list for storing the portfolio weights
port_weights = []

num_assets = len(assets.columns)
num_portfolios = 10000
# Computing the individual asset return
individual_rets = assets.resample('Y').last().pct_change().mean()

In [37]:
for port in range(num_portfolios):
    # Randomly generate weigh combination
    weights = np.random.random(num_assets)
    # Normalize weight so that they sum to 1
    weights =weights/np.sum(weights)
    port_weights.append(weights)
    # Returns are the dot product of individual expected returns of asset and its weights
    returns =np.dot(weights, individual_rets)
    port_returns.append(returns)

    # Computing Portfolio Variance
    var = variance_matrix.mul(weights,axis=0).mul(weights, axis=1).sum().sum()
    # Daily standard deviation : volatility is square root of variance
    sd = np.sqrt(var)
    # Annualizing the standard deviation will give us the volatility
    ann_sd = sd*np.sqrt(250)
    port_volatility.append(ann_sd)

In [38]:
# Create a dictionary of returns and volatility
data ={'Returns': port_returns,'Volatility': port_volatility}
for counter,symbol in enumerate(assets.columns.tolist()):
    data[symbol+'weight']=[w[counter] for w in port_weights]

In [39]:
# Convert the dictionary to dataframe
portfolios = pd.DataFrame(data)
portfolios

,Returns,Volatility,PFEweight,GSKweight,AZNweight,BMYweight,MRKweight,RHHBYweight,SNYweight,NVSweight,ABBVweight,JNJweight
0,0.086207,2.786472,0.011238,0.042732,0.121695,0.203212,0.073199,0.075693,0.183734,0.008676,0.158961,0.120858
1,0.071009,2.708028,0.005105,0.060935,0.005660,0.165470,0.126452,0.147272,0.186469,0.124196,0.002638,0.175803
2,0.091046,2.794361,0.024921,0.076303,0.217324,0.011340,0.088626,0.099045,0.163305,0.109537,0.154862,0.054737
3,0.080866,2.807326,0.059684,0.026620,0.060409,0.076562,0.137002,0.077317,0.270934,0.121644,0.104094,0.065736
4,0.067562,2.785498,0.094811,0.134579,0.113020,0.180214,0.123921,0.066025,0.090997,0.142521,0.015836,0.038075
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.076371,2.661388,0.175668,0.049841,0.123017,0.152988,0.020796,0.118523,0.008366,0.130255,0.087348,0.133199
9996,0.081897,2.710275,0.113048,0.101779,0.007963,0.129580,0.037703,0.177154,0.155403,0.083651,0.160385,0.033333
9997,0.086984,2.747225,0.040818,0.000455,0.158416,0.117089,0.143904,0.036812,0.142959,0.025852,0.131621,0.202074
9998,0.075538,2.718033,0.112524,0.156256,0.011519,0.026518,0.158798,0.044530,0.149156,0.131321,0.093616,0.115763
9999,0.081600,2.714641,0.057280,0.127482,0.110673,0.091513,0.131671,0.015234,0.104393,0.142115,0.125877,0.093763

In [40]:
# Don't really need returns and volatility in the next steps
portfolios.drop(['Returns', 'Volatility'], inplace=True, axis=1)
portfolios

,PFEweight,GSKweight,AZNweight,BMYweight,MRKweight,RHHBYweight,SNYweight,NVSweight,ABBVweight,JNJweight
0,0.011238,0.042732,0.121695,0.203212,0.073199,0.075693,0.183734,0.008676,0.158961,0.120858
1,0.005105,0.060935,0.005660,0.165470,0.126452,0.147272,0.186469,0.124196,0.002638,0.175803
2,0.024921,0.076303,0.217324,0.011340,0.088626,0.099045,0.163305,0.109537,0.154862,0.054737
3,0.059684,0.026620,0.060409,0.076562,0.137002,0.077317,0.270934,0.121644,0.104094,0.065736
4,0.094811,0.134579,0.113020,0.180214,0.123921,0.066025,0.090997,0.142521,0.015836,0.038075
...,...,...,...,...,...,...,...,...,...,...
9995,0.175668,0.049841,0.123017,0.152988,0.020796,0.118523,0.008366,0.130255,0.087348,0.133199
9996,0.113048,0.101779,0.007963,0.129580,0.037703,0.177154,0.155403,0.083651,0.160385,0.033333
9997,0.040818,0.000455,0.158416,0.117089,0.143904,0.036812,0.142959,0.025852,0.131621,0.202074
9998,0.112524,0.156256,0.011519,0.026518,0.158798,0.044530,0.149156,0.131321,0.093616,0.115763
9999,0.057280,0.127482,0.110673,0.091513,0.131671,0.015234,0.104393,0.142115,0.125877,0.093763

In [41]:
import numpy as np
import pandas as pd
from numpy.linalg import inv

stock_returns_orig = pd.read_csv('E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/stock_returns.csv')
stock_weights = pd.read_csv('E:/Desktop/Extracurriculars/Projects & Competitions/DS Guidelight/Data/stock_weights.csv')
returns_cols = ['PFE','GSK','AZN','BMY','MRK','RHHBY','SNY','NVS','ABBV','JNJ']
weights_cols = ['PFEweight','GSKweight','AZNweight','BMYweight','MRKweight','RHHBYweight','SNYweight','NVSweight',
                'ABBVweight','JNJweight']
stock_returns = stock_returns_orig[returns_cols].dropna()
stock_returns = stock_returns[returns_cols].dropna()
stock_weights = stock_weights[weights_cols]

In [42]:
stock_returns.mean()

PFE      0.000287
GSK      0.000263
AZN      0.000614
BMY      0.000381
MRK      0.000630
RHHBY    0.000294
SNY      0.000242
NVS      0.000410
ABBV     0.000883
JNJ      0.000455
dtype: float64

In [43]:
stock_weights

,PFEweight,GSKweight,AZNweight,BMYweight,MRKweight,RHHBYweight,SNYweight,NVSweight,ABBVweight,JNJweight
0,0.099365,0.125595,0.130401,0.030309,0.041025,0.144682,0.157118,0.055873,0.145114,0.070519
1,0.051577,0.217016,0.114346,0.011365,0.231464,0.163100,0.084411,0.045595,0.077332,0.003793
2,0.022312,0.088992,0.054456,0.129782,0.104850,0.113712,0.101961,0.106796,0.144497,0.132642
3,0.030477,0.145209,0.008950,0.010564,0.126646,0.181960,0.211671,0.146184,0.047579,0.090759
4,0.094729,0.114954,0.034101,0.001490,0.113946,0.071568,0.150249,0.121587,0.148973,0.148403
...,...,...,...,...,...,...,...,...,...,...
9995,0.081330,0.037655,0.157843,0.117427,0.078441,0.157459,0.023208,0.171031,0.068953,0.106652
9996,0.077374,0.077245,0.192223,0.009632,0.072450,0.079231,0.016290,0.103191,0.216524,0.155840
9997,0.004872,0.147390,0.177725,0.094554,0.017170,0.158174,0.094619,0.162438,0.108283,0.034776
9998,0.079841,0.116740,0.182439,0.146771,0.014114,0.026137,0.091778,0.079945,0.144815,0.117420
9999,0.038028,0.037201,0.014721,0.040451,0.114951,0.153310,0.181621,0.234552,0.074915,0.110250

### Obtain the Implied Equilibrium Return Vector using Reverse Optimization

In [44]:
treasury_rate = 
excess_stock_returns = stock_returns.subtract(treasury_rate, axis=0)
cov = excess_stock_returns.cov()
global_return = excess_stock_returns.mean().multiply(stock_weights['weight'].values).sum()
market_var = np.matmul(stock_weights.values.reshape(len(stock_weights)).T,
                                       np.matmul(cov.values, stock_weights.values.reshape(len(stock_weights))))
print(f'The global market mean return is {global_return:.4f} and the variance is {market_var:.6}')
risk_aversion = global_return / market_var
print(f'The risk aversion parameter is {risk_aversion:.2f}')

NameError: name 'asset_returns' is not defined

In [ ]:
def implied_rets(risk_aversion, sigma, w):
    
    implied_rets = risk_aversion * sigma.dot(w).squeeze()
    
    return implied_rets
implied_equilibrium_returns = implied_rets(risk_aversion, cov, stock_weights)
implied_equilibrium_returns

### The Black-Litterman Model

Very often, investment managers have specific views regarding the expected return of some of the assets in a portfolio, which differ from the Implied Equilibrium return. The Black-Litterman model allows such views to be expressed in either absolute or relative terms.

Let us set up 3 views we might have regarding some of the assets in our portfolio:

View 1: 'PFE stocks' will have an absolute excess return of 9.25% (as opposed to the ___% equilibrium based value)

View 2: 'JNJ stocks' will outperform 'ABBV stocks' by 0.5% ((as opposed to the ___% equilibrium based value)

View 3: 'SNY stocks' will have an absolute excess return of 5.5% (as opposed to the ___% equilibrium based value).

View 1 and 3 are examples of an absolute view, while view 2 is a relative view – FYI these relative type views tend to more closely represent the way most money/investment managers see the world and how they feel about different assets.

In the our example, the number of views (K) is 3; thus, the View Vector (Q) is a 3 x 1 column vector. The uncertainty of the views results in a random, unknown, independent, normally-distributed Error Term Vector (\epsilon) with a mean of 0 and covariance matrix \Omega . Thus, a view has the form \Omega + \epsilon.

The Error Term Vector (\epsilon) does not directly enter the Black-Litterman formula. However, the variance of each error term (\omega), which is the absolute difference from the error term’s (\epsilon) expected value of 0, does enter the formula. The variances of the error terms (\omega) form \Omega, where \Omega is a diagonal covariance matrix with 0’s in all of the off-diagonal positions. The off-diagonal elements of \Omega are 0’s because the model assumes that the views are independent of one another. The variances of the error terms (\omega) represent the uncertainty of the views. The larger the variance of the error term (\omega), the greater the uncertainty of the view.

In [47]:
# Q is the view vector
Q = np.array([0.0925, 0.005, 0.055])

Set up Matrix P which is where we input our views. As we have 3 views and 10 stocks, we will create a 3 by 10 matrix as shown below:

The first row of Matrix P represents View 1, where ‘PFE stocks’ are the stocks concerned – this is 1st along the top row to represent the fact it is the 1st stock class in our example (i.e. the 1st column in stock_returns).

View 2 and View 3 are represented by Row 2 and Row 3, respectively.

In [48]:
P = [[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, -1, 1],
    [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]]

The market capitalization of JNJ is about 3 times the market cap of SNY. In our Matrix P we reflect this fact now as shown below:

The values in the middle row still sum to zero (as we are dealing with a relative, not absolute view) but now reflect the magnitude of their market capitalization.

In [49]:
P = np.asarray([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0, 0, 0, 0, -.25, .75],
                [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]])

In [54]:
view1_var = np.matmul(P[0].reshape(len(P[0])),np.matmul(cov.values, P[0].reshape(len(P[0])).T))
view2_var = np.matmul(P[1].reshape(len(P[1])),np.matmul(cov.values, P[1].reshape(len(P[1])).T))
view3_var = np.matmul(P[2].reshape(len(P[2])),np.matmul(cov.values, P[2].reshape(len(P[2])).T))
print(f'The Variance of View 1 Portfolio is {view1_var}, and the standard deviation is {np.sqrt(view1_var):.3f}\n',\
      f'The Variance of View 2 Portfolio is {view2_var}, and the standard deviation is {np.sqrt(view2_var):.3f}\n',\
      f'The Variance of View 3 Portfolio is {view3_var}, and the standard deviation is {np.sqrt(view3_var):.3f}')

NameError: name 'cov' is not defined